section {
  z-index: 10;
}
.logo_nav {
  height: 50px;
}
.logo_footer {
  /* display: flex; */
  height: 50px;
}
.footer_logo_box {
  display: flex;
  align-items: center;
}
.footer_copyright {
  text-align: center;
}
aside {
  padding: 20px;
}
td {
  font-size: 70%;
}
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}
th, td {
  padding: 10px;

}
.img-resize {
  /* object-fit: cover;
  object-position: center center; */
}
.background_nav {
  /* position: relative; */
  /* z-index: 1; */
  background-size: cover;
  width: 80%;
}
#main {
  /* background-image: url("/gfx/mix-owocow-w-koszyku.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2{
  text-align: center;
  font-size: 100%;
}
h3 {
  font-size: 100%;
}
p {
  text-align: justify;
  font-size: 80%;

}
hr {
  width: 20%;
  height: 1px;
  background-color: red;
  border: none;
  opacity: 10%;
}

.section_one {
  width: 80%;
  margin: 0 auto;
}
.section_tree {
  display: flex;
  justify-content: space-between;
}
.section_tree_info {
  padding: 10px;
}
footer {
  font-size: 10px;
  padding: 20px;
  background-color: gray;
}
.footer_main {
  display: flex;
  justify-content: space-between;
}
.footer_left {
 display: flex;
}
.footer_right {
  display: flex;
  align-items: center;
}
.footer_right_form {
}