/* .navigation_image_nosize {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
/* section {
  z-index: 10;
} */
html {
  scroll-behavior: smooth;
}
li {
  list-style-type: none;
}
.logo_nav {
  height: 50px;
  /* position: absolute; */
  margin: 5px;
}
.logo_footer {
  height: 50px;
}
.footer_logo_box {
  display: flex;
  align-items: center;
}
.footer_copyright {
  text-align: center;
}
aside {
  padding: 20px;
}
td {
  font-size: 70%;
}
table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}
th,
td {
  padding: 10px;
}

#main_menu {
  color: white;
  /* 
  background: url("/gfx/mix-owocow-w-koszyku.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
.menu_buttons_box {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  /* opacity: 0.4; */
  height: 60px;
}
a {
}
#slide_menu {
  position: fixed;
  width: 100%;
  background-color: red; 
  /* opacity: 0.7; */
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
h1,
h2 {
  text-align: center;
  /* font-size: 100%; */
}
h3 {
  /* font-size: 100%; */
}
p {
  text-align: justify;
  /* font-size: 80%; */
}
hr {
  width: 20%;
  height: 1px;
  background-color: red;
  border: none;
}

.section_one {
  width: 80%;
  margin: 0 auto;
}
.section_tree {
  display: flex;
  justify-content: space-between;
}
.section_tree_info {
  padding: 10px;
}
footer {
  font-size: 10px;
  padding: 20px;
  background-color: lightgray;
}
.footer_main {
  display: flex;
  justify-content: space-between;
}
.footer_left {
  display: flex;
}
.footer_right {
  display: flex;
  align-items: center;
}
.footer_right_form {
}

/* BOUCING ARROW */
.downArrow {
  /* position: fixed; */
  /* bottom: 45%; */
  /* left: 50%; */
}
.downArrow_img {
  height: 100px;
  width: 40%;
  max-width: 200px;
  min-width: 100px;
  min-height: 50px;
  display: flex;
  margin: 0 auto;
  filter: invert(100%);
  opacity: 0.6;

}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
input {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
  width: 75%;
}
.footer_form {
  text-align: center;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
