.paralaxa {
  position: absolute;
  z-index: -1;
  background-image: url("/gfx/mix-owocow-w-koszyku.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  opacity: 0.9;
}