.fruts_img_section_one {
  display: flex;
  justify-content: space-between;
}
.fruts_img_section_two {
  display: flex;
  justify-content: space-between;
}
.img_one {
  width: 48%;
  height: 48%;
}
.img_two {
  width: 48%;
  height: 48%;

}
.img_tree {
  width: 50%;
  height: 50%;
}