/* ///////////////////////// global styles ///////////////////////// */

.font-header {
  font-size: 27px;
}

p {
  font-size: 18px;
  line-height: 23px;
}

/* ///////////////////////// global styles end ///////////////////////// */

/* ///////////////////////// section hero  ///////////////////////// */

.section-hero {
  padding-top: 200px;
  padding-bottom: 80px;
}

.logo-top {
  display: none;
}

.section-hero h1 {
  font-size: 30px;
}
.section-hero h2 {
  font-size: 25px;
}

/* ///////////////////////// section hero end ///////////////////////// */

/* ///////////////////////// section section-types-of-fruit  ///////////////////////// */

.section-types-of-fruit .container {
  padding: 25px 20px;
}

.img-left,
.img-right {
  width: 100%;
  margin-bottom: 20px;
}

.section-types-of-fruit .image-container {
  margin-bottom: 10px;
}

/* ///////////////////////// section section-types-of-fruit end ///////////////////////// */

/* ///////////////////////// section-super-types-of-fruit /////////////////////////////   */
.section-super-types-of-fruit .row:nth-of-type(even) .image-container {
  order: 0;
}

.section-super-types-of-fruit .row {
  flex-wrap: wrap;
  padding: 0 20px;
}

.section-super-types-of-fruit .row:nth-of-type(even) aside div {
  padding-left: 0;
}

.section-super-types-of-fruit .row:nth-of-type(odd) aside div {
  padding-right: 0;
}

.section-super-types-of-fruit .row aside div {
  padding: 20px 0;
}

.section-super-types-of-fruit .row:last-of-type {
  margin-bottom: 20px;
}

.section-super-types-of-fruit aside {
  min-height: 0;
}
.section-super-types-of-fruit .image-container {
  min-height: 230px;
}
.section-super-types-of-fruit aside div {
  padding: 20px;
}

.super-left,
.super-right {
  width: 100%;
}

/* ///////////////////////// section-super-types-of-fruit end /////////////////////////////   */

/* ///////////////////////// table /////////////////////////////////// */

.fruit-table {
  clear: both;
}
table,
thead,
tbody,
th,
td,
tr {
  display: block;
}

.fruit-table .container table thead tr th {
  display: none;
}

td {
  position: relative;
  text-align: right;
}

td:before {
  display: flex;
  white-space: nowrap;
}

td:nth-of-type(1):before {
  content: "Lp.";
}
td:nth-of-type(2):before {
  content: "Nazwa";
}
td:nth-of-type(3):before {
  content: "Gatunek";
}
td:nth-of-type(4):before {
  content: "Opis";
  margin-bottom: 15px;
}

/* /////////////////////////table end///////////////////////////////// */

/* /////////////////////////fruit-info-box///////////////////////////////// */

.fruit-info-box {
  flex-wrap: wrap;
}
.info-box:nth-child(1) {
  padding: 10px 0px 10px 0px;
}
.info-box {
  padding: 0px;
}
.info-box:nth-child(4) {
  padding: 10px 0px 10px 0px;
}

/* /////////////////////////fruit-info-box end///////////////////////////////// */

/* ///////////////////////// section footer /////////////////////////////   */

footer.footer_fruits {
  font-size: 15px;
  padding: 5px;

}
.footer_main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer_left {
  display: flex;
}

.footer_fruits .footer_main .footer_left ul {
  margin-bottom: 0 auto;
}

.footer_fruits .footer_main .footer_left ul {
  padding: 0px 20px 0px 20px;
}

.footer_fruits .footer_main .footer_left ul li {
  margin-bottom: 25px;
}
.footer_fruits .footer_main .footer_left ul li:last-of-type {
  margin-bottom: 0;
}

.footer_right {
  display: flex;
  align-items: center;
}

.form_box {
  margin: 30px 0px 15px 0px;
  width: 100%;
}

input.footer_fruit {
  width: 80%;
  height: 30px;
  font-size: 20px;
}

.footer_logo_box {
  display: none;
}

.footer_logo_box_mobile {
  display: block;
  text-align: center;
}

.logo_footer_mobile {
  height: auto;
  width: 50px;
  padding: 30px;
}
/* ///////////////////////// section footer end /////////////////////////////   */
