/* ///////////////////////// global styles ///////////////////////// */

.font-header {
  font-size: 27px;
}

p {
  font-size: 18px;
  line-height: 23px;
}

/* ///////////////////////// global styles end ///////////////////////// */

/* ///////////////////////// hamburger menu  ///////////////////////// */

#navbar nav #menuToggle #menu hr {
  width: 50%;
  height: 1px;
  background-color: gray;
  border: none;
  margin: 0;
}

#menuToggle {
  display: block;
}
a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 46px;
  height: 8px;
  margin-bottom: 5px;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 80%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 18px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#navbar nav #menuToggle #menu li .logo-hamburger {
  height: 60px;
  position: absolute;
  bottom: 40px;
  right: 40px;
}
/* ///////////////////////// hamburger menu end  ///////////////////////// */


/* ///////////////////////// section hero  ///////////////////////// */
.header-sticky__top-header {
  display: none;
}
.header-sticky__bottom-header {
  display: none;
}
.header-sticky__navbar {
  display: none;
}
.header-sticky {
  background: none;
}
.section-hero {
  padding-top: 200px;
  padding-bottom: 80px;
}

.logo-top {
  display: none;
}

.section-hero h1 {
  font-size: 30px;
}
.section-hero h2 {
  font-size: 25px;
}
.downArrow {
  margin-top: 100px;
}

/* ///////////////////////// section hero end ///////////////////////// */

/* ///////////////////////// section section-types-of-fruit  ///////////////////////// */

.section-types-of-fruit .container {
  padding: 25px 20px;
}

.img-left,
.img-right {
  width: 100%;
  margin-bottom: 20px;
}

.section-types-of-fruit .image-container {
  margin-bottom: 10px;
}

/* ///////////////////////// section section-types-of-fruit end ///////////////////////// */

/* ///////////////////////// section-super-types-of-fruit /////////////////////////////   */
.section-super-types-of-fruit .row:nth-of-type(even) .image-container {
  order: 0;
}

.section-super-types-of-fruit .row {
  flex-wrap: wrap;
  padding: 0 20px;
}

.section-super-types-of-fruit .row:nth-of-type(even) aside div {
  padding-left: 0;
}

.section-super-types-of-fruit .row:nth-of-type(odd) aside div {
  padding-right: 0;
}

.section-super-types-of-fruit .row aside div {
  padding: 20px 0;
}

.section-super-types-of-fruit .row:last-of-type {
  margin-bottom: 20px;
}

.section-super-types-of-fruit aside {
  min-height: 0;
}
.section-super-types-of-fruit .image-container {
  min-height: 230px;
}
.section-super-types-of-fruit aside div {
  padding: 20px;
}

.super-left,
.super-right {
  width: 100%;
}

/* ///////////////////////// section-super-types-of-fruit end /////////////////////////////   */

/* ///////////////////////// table /////////////////////////////////// */

.fruit-table {
  clear: both;
}
table,
thead,
tbody,
th,
td,
tr {
  display: block;
}

.fruit-table .container table thead tr th {
  display: none;
}

td {
  position: relative;
  text-align: right;
}

td:before {
  display: flex;
  white-space: nowrap;
}

td:nth-of-type(1):before {
  content: "Lp.";
}
td:nth-of-type(2):before {
  content: "Nazwa";
}
td:nth-of-type(3):before {
  content: "Gatunek";
}
td:nth-of-type(4):before {
  content: "Opis";
  margin-bottom: 15px;
}

/* /////////////////////////table end///////////////////////////////// */

/* /////////////////////////fruit-info-box///////////////////////////////// */

.fruit-info-box {
  flex-wrap: wrap;
}
.info-box:nth-child(1) {
  padding: 10px 0px 10px 0px;
}
.info-box {
  padding: 0px;
}
.info-box:nth-child(4) {
  padding: 10px 0px 10px 0px;
}

/* /////////////////////////fruit-info-box end///////////////////////////////// */

/* ///////////////////////// section footer /////////////////////////////   */

footer.footer_fruits {
  font-size: 15px;
  padding: 5px;

}
.footer_main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer_left {
  display: flex;
}

.footer_fruits .footer_main .footer_left ul {
  margin-bottom: 0 auto;
}

.footer_fruits .footer_main .footer_left ul {
  padding: 0px 20px 0px 20px;
}

.footer_fruits .footer_main .footer_left ul li {
  margin-bottom: 25px;
}
.footer_fruits .footer_main .footer_left ul li:last-of-type {
  margin-bottom: 0;
}

.footer_right {
  display: flex;
  align-items: center;
}

.form_box {
  margin: 30px 0px 15px 0px;
  width: 100%;
}

input.footer_fruit {
  width: 80%;
  height: 30px;
  font-size: 20px;
}

.footer_logo_box {
  display: none;
}

.footer_logo_box_mobile {
  display: block;
  text-align: center;
}

.logo_footer_mobile {
  height: auto;
  width: 50px;
  padding: 30px;
}
/* ///////////////////////// section footer end /////////////////////////////   */
